!!! 5
html(lang='en')
  head(prefix='og: http://ogp.me/ns# fb: http://ogp.me/ns/fb# doortracker: http://ogp.me/ns/fb/doortracker#')
    meta(property='fb:app_id', content='423298101062880')
    meta(property='og:type', content='doortracker:room')
    meta(property='og:title', content='#{room_name}')
    meta(property='og:image', content='#{room_image}')
    title= room_name

  body
    h1 The coolest place to be is #{room_name}!
    img(src='#{room_image}')
    fb:activity(actions='doortracker:enter')